{{ if (eq .Section "logbook") }}
    {{ $child_pages := union .Sections .Pages }}
    {{ if ge (len $child_pages) 1 }}
        <div class="card-items">
            {{ range $child_pages.ByWeight }}
                <div class="card-item">
                    {{ $href := printf "%s%s%s" .File.Dir "#" .File.BaseFileName}}
                    <a class="title" href="{{ $href | relLangURL }}">{{ .Title }}</a>
                    <p class="subtitle">{{ .Params.subtitle }}</p>
                </div>
            {{ end }}
        </div>
    {{ end }}
{{ end }}
