<link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | absURL }}">
<link rel="manifest" href="{{ "site.webmanifest" | absURL }}">
<link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | absURL }}" color="#4a8af4">
<meta name="apple-mobile-web-app-title" content="DDDi">
<meta name="application-name" content="DDDi">
<meta name="msapplication-TileColor" content="#4a8af4">
<meta name="theme-color" content="#ffffff">
