.blogs {
  .blog-container {
    max-width: $content-container;
    margin: 0 auto;
    padding-top: 64px;

    a {
      font-size: $font-size-neutral + 2;
      font-weight: 700;
      text-decoration: none;
      color: $main-brand-color;
      margin-bottom: 2px;
    }

    ul li {
      list-style: none;
      padding-bottom: 32px;
      line-height: 1.5;
    }

    .lang {
      display: inline-block;
      color: $light-gray;
      margin-left: 2px;
    }
  }
}
