.meetup {
  .meetup-container {
    max-width: 640px;
    margin: 0 auto;
    padding-top: 64px;
  }

  .author {
    display: flex;
    margin-bottom: 40px;

    .photo {
      margin-right: 8px;
    }

    .info {
      h2 {
        margin-bottom: 2px;
      }
    }
  }

  ul, ol {
    padding-left: 16px;

    li {
      line-height: 1.5;
      padding-bottom: 16px;
      padding-right: 5px;
    }
  }

  p, li {
    font-size: $font-size-neutral;
  }
}
