.resources {
  .resources-container {
    max-width: $content-container;
    margin: 0 auto;
    padding-top: 64px;
  }

  .resources-card {
    display: flex;
    margin-bottom: 48px;

    &.pioneers {
      .image {
        max-width: 110px;
      }
    }

    .info {
      padding-left: 24px;

      .name {
        padding: 0;
        margin-bottom: 6px;
      }
    }

    .social-networks {
      margin-bottom: 2px;

      a {
        margin-right: 8px;

        &:after {
          content: '';
          display: inline-block;
          width: $icon-size-s - 2px;
          height: $icon-size-s - 2px;
          opacity: .3;
        }

        &:hover {
          &:after {
            opacity: .54;
          }
        }

        &.website {
          &:after {
            background: url("/images/icons/globe.svg") no-repeat;
          }
        }

        &.github {
          &:after {
            background: url("/images/icons/github.svg") no-repeat;
          }
        }

        &.twitter {
          &:after {
            background: url("/images/icons/twitter.svg") no-repeat;
          }
        }
      }
    }
  }
}
