.hero {
  background-color: $main-brand-color;
  padding: $header-height 0 40px;

  @include breakpoint(md-phone) {
    height: 100vh;
    padding: $header-height 0 0;
  }

  .hero-content {
    display: flex;
    justify-content: center;

    .hero-image {
      width: 640px;

      @include breakpoint(md-phone) {
        margin-top: 40%;
        height: 224px;
        object-fit: cover;
      }
    }
  }
}
