.map-content-holder {
  max-width: 1140px;
  padding: 40px;
  margin: 0 auto;

  @media (max-width: 640px) {
    .map-content-holder {
      padding: 24px 8px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  .slider-container {
    position: relative;
  }

  /* Adds slider border. */
  .slider-container:after {
    content: '';
    position: absolute;
    pointer-events: none;
    background: url("/images/interactive-map/border.svg") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  @media (max-width: 986px) {
    .slider-container:after {
      background: url("/images/interactive-map/border-mobile.svg") no-repeat;
      background-size: contain;
    }
  }

  @media (max-width: 640px) {
    .slider-container:after {
      background: url("/images/interactive-map/border-mobile-small.svg") no-repeat;
      background-size: contain;
    }
  }

  /* Styles to insert iframe with a map. */
  .map-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 172.4%;
  }

  .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media only screen and (min-width: 986px) {
    .map-wrapper {
      padding-bottom: 61%; /* 800:483 Aspect Ratio (1600x966) */
    }
  }
  /* End iframe styles. */

  .slider-navigation {
    position: relative;
    margin-bottom: 8px;
  }

  @media (max-width: 640px) {
    .slider-navigation {
      margin-bottom: 5%;
    }
  }

  .slider-navigation .ribbon,
  .slider-navigation .button-container,
  .slider-navigation .globe-container {
    max-width: 78%;
    margin: 0 auto;

  }

  @media (max-width: 986px) {
    .slider-navigation .ribbon,
    .slider-navigation .button-container,
    .slider-navigation .globe-container {
      max-width: 90%;
    }
  }

  @media (max-width: 640px) {
    .slider-navigation .ribbon,
    .slider-navigation .button-container,
    .slider-navigation .globe-container {
      max-width: 100%;
    }

    .slider-navigation .button-container {
      top: 78%;
    }
  }

  .slider-navigation .button-container {
    position: absolute;
    width: 100%;
    top: 76%;
    left: 50%;
    transform: translateX(-50%);
  }

  .slider-navigation .globe-container {
    position: absolute;
    pointer-events: none;
    width: 100%;
    top: 31%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3; /* Shows the navigation globe under the maps */
  }

  .nav-buttons {
    max-width: 43%;
    margin: 0 auto;
  }

  @media (max-width: 986px) {
    .nav-buttons {
      max-width: 51%;
    }
  }

  @media (max-width: 640px) {
    .nav-buttons {
      max-width: 80%;
    }

    .nav-buttons a {
      max-width: 20%;
    }
  }

  .nav-buttons a {
    max-width: 18%;
    transition: all .2s ease-in-out;
  }

  @media (max-width: 968px) {
    .nav-buttons a {
      max-width: 20%;
    }
  }

  @media (max-width: 520px) {
    .nav-buttons a {
      max-width: 21%;
    }
  }

  .nav-buttons a.disabled {
    opacity: .5;
    pointer-events: none;
    cursor: not-allowed;
  }

  .nav-buttons a.not-clickable {
    pointer-events: none;
  }

  .nav-buttons a:hover img {
    -webkit-filter: invert(64%) sepia(62%) saturate(3577%) hue-rotate(188deg) brightness(96%) contrast(74%);
    filter: invert(64%) sepia(62%) saturate(3577%) hue-rotate(188deg) brightness(96%) contrast(74%);
  }

  .nav-buttons #nav_next {
    float: right;
  }

  .nav-buttons #nav_prev {
    float: left;
  }

  .globe {
    position: relative;
    max-width: 23%;
    margin: 0 auto;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  @media (max-width: 986px) {
    .globe {
      max-width: 27%;
    }
  }

  @media (max-width: 640px) {
    .globe {
      max-width: 40%;
    }
  }

  /* `after` makes a perfect responsive square */
  .globe:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  .globe-map {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: -1; /* Places the map under meridians */
  }

  .globe-map .owl-carousel .owl-stage-outer {
    border-radius: 50%;
  }

  .horizontal-meridians {
    position: absolute;
    border-radius: 50%;
  }

  [class*="meridian-"] {
    position: absolute;
    border: 1px solid #737676;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .meridian-1 {
    -webkit-transform: rotateY(72deg);
    -moz-transform: rotateY(72deg);
    -o-transform: rotateY(72deg);
    transform: rotateY(72deg);
  }

  .meridian-2 {
    -webkit-transform: rotateY(144deg);
    -moz-transform: rotateY(144deg);
    -o-transform: rotateY(144deg);
    transform: rotateY(144deg);
  }

  .meridian-3 {
    -webkit-transform: rotateY(216deg);
    -moz-transform: rotateY(216deg);
    -o-transform: rotateY(216deg);
    transform: rotateY(216deg);
  }

  .meridian-4 {
    -webkit-transform: rotateY(288deg);
    -moz-transform: rotateY(288deg);
    -o-transform: rotateY(288deg);
    transform: rotateY(288deg);
  }

  .meridian-5 {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }

  .rotated-meridians {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
  }

  .rotated-meridians.rotate-forward {
    -webkit-animation: rotateMeridiansForward .6s ease backwards;
    -moz-animation: rotateMeridiansForward .6s ease backwards;
    -ms-animation: rotateMeridiansForward .6s ease backwards;
    -o-animation: rotateMeridiansForward .6s ease backwards;
    animation: rotateMeridiansForward .6s ease backwards;
  }

  .rotated-meridians.rotate-backward {
    -webkit-animation: rotateMeridiansBackward .6s ease forwards;
    -moz-animation: rotateMeridiansBackward .6s ease forwards;
    -ms-animation: rotateMeridiansBackward .6s ease forwards;
    -o-animation: rotateMeridiansBackward .6s ease forwards;
    animation: rotateMeridiansBackward .6s ease forwards;
  }

  @-webkit-keyframes rotateMeridiansForward {
    0% {-webkit-transform: rotateY(0);}
    100% {-webkit-transform: rotateY(72deg);}
  }

  @-moz-keyframes rotateMeridiansForward {
    0% {-moz-transform: rotateY(0);}
    100% {-moz-transform: rotateY(72deg);}
  }

  @-o-keyframes rotateMeridiansForward {
    0% {-o-transform: rotateY(0);}
    100% {-o-transform: rotateY(72deg);}
  }

  @keyframes rotateMeridiansForward {
    0% {transform: rotateY(0);}
    100% {transform: rotateY(72deg);}
  }

  @-webkit-keyframes rotateMeridiansBackward {
    0% {-webkit-transform: rotateY(0);}
    100% {-webkit-transform: rotateY(-72deg);}
  }

  @-moz-keyframes rotateMeridiansBackward {
    0% {-moz-transform: rotateY(0);}
    100% {-moz-transform: rotateY(-72deg);}
  }

  @-o-keyframes rotateMeridiansBackward {
    0% {-o-transform: rotateY(0);}
    100% {-o-transform: rotateY(-72deg);}
  }

  @keyframes rotateMeridiansBackward {
    0% {transform: rotateY(0);}
    100% {transform: rotateY(-72deg);}
  }
}
