#link-back {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: $font-size;
  color: $main-brand-color;
  font-weight: 700;
  margin: 40px 0 0 0;
  padding: 0;
  line-height: 1.2;

  &:hover {
    span {
      border-bottom-color: $main-brand-color;
    }

    &:before {
      transform: translateX(-4px) rotate(180deg);
    }
  }

  span {
    margin-left: $icon-size-s + 5px;
    vertical-align: middle;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .2s ease-in-out;
  }

  &:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    background: url("/images/icons/arrow.svg") no-repeat center/cover;
    width: $icon-size-s - 4px;
    height: $icon-size-s - 4px;
    transform: translateX(0) rotate(180deg);
    transition: transform .3s ease;
  }
}
