.page-header {
  text-align: center;

  h1 {
    margin-bottom: 4px;
    cursor: default;
  }

  .subtitle {
    color: $light-gray;
    font-size: $font-size;
    cursor: default;
  }

  img + h1 {
    margin-top: -16px;
  }
}
