.what-is-dddi {
  .section-text {
    max-width: 600px;
    margin: 0 auto;
    padding: 16px 0 80px;

    .title {
      text-align: center;

      @include breakpoint(md-phone) {
        text-align: left;
      }
    }
  }
}
