<!DOCTYPE html>
<html lang="{{ .Language.Lang | default "ru" }}" itemscope itemtype="https://schema.org/WebPage">
{{ partial "head/head.html" . }}
{{ if eq .Kind "home" }}
    {{ .Scratch.Set "class" "home" }}
{{ else if eq .Kind "404" }}
    {{ .Scratch.Set "class" "404-page" }}
{{ else if eq .Kind "page" }}
    {{ .Scratch.Set "class" .Type }}
    {{ .Scratch.Add "class" " single" }}
{{ else }}
    {{ $type := replace .Type "/" " " }}
    {{ .Scratch.Set "class" $type }}
{{ end }}
<body class="{{ .Scratch.Get "class" }}">
    <div class="wrapper">
        <div class="main">
            {{ partial "header/header.html" . }}
            {{ block "main" . }}{{ end }}
        </div>
        {{ partial "footer/footer.html" . }}
    </div>
    {{ partial "scripts/body-scripts.html" . }}
    {{ partial "scripts/body-google-tag-manager.html" . }}
</body>
</html>
