{{ define "main" }}
<div class="content-holder page-content list-page">
    <div class="page-header">
        {{ if isset .Params "image" }}
            {{ $img_path := path.Join "images/list/" .Params.image }}
            {{ $img_alt := .Title }}
            {{ with resources.Get $img_path }}
                <img src="{{ .RelPermalink }}" width="260" height="177" alt="{{ $img_alt }}">
            {{ end }}
        {{ end }}
        <h1>{{ .Title }}</h1>
        <p class="subtitle">{{ .Params.subtitle }}</p>
    </div>
    <div class="list-holder">
        {{ range .Sections.ByWeight }}
            <div class="list-card">
                <a class="card-header" href="{{ .RelPermalink }}">
                    <h3 class="title">{{ .Title }}</h3>
                    <p class="subtitle">{{ .Params.subtitle }}</p>
                    <i class="arrow-icon"></i>
                </a>
                {{ partial "meetup/recursive.html" . }}
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
