{{ define "main" }}
<div class="content-holder page-content logbook">
    <div class="page-header">
        {{ with resources.Get "images/logbook/logbook-header.svg" }}
            <img alt="Logbook" height="177" src="{{ .RelPermalink }}" width="260">
        {{ end }}
        <h1>{{ .Title }}</h1>
        <p class="subtitle">{{ .Params.subtitle }}</p>
    </div>
    {{ if (eq .Title "Судовой журнал") }}
        <div class="meetup-list">
            {{ range .Sections.ByTitle }}
                <div>
                    <a href="{{ .RelPermalink }}">
                        <p>{{ .Title }}</p>
                        <p>{{ .Params.date_ru }}</p>
                    </a>
                    {{ partial "meetup/recursive.html" . }}
                </div>
            {{ end }}
        </div>
    {{ else }}
        <div class="meetup-list">
            {{ range .RegularPages }}
                <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
            {{ end }}
        </div>
    {{ end }}
</div>
{{ end }}
