{{ define "main" }}
<div class="content-holder page-content logbook">
    <div class="page-header">
        {{ with resources.Get "images/logbook/logbook-header.svg" }}
            <img alt="Logbook" height="177" src="{{ .RelPermalink }}" width="260">
        {{ end }}
        <h1>{{ .Title }}</h1>
        <p class="subtitle">{{ .Params.subtitle }}</p>
    </div>
    {{ if (eq .Title "Судовой журнал") }}
        <div class="meetup-list">
            {{ range .Sections.ByTitle }}
                <div class="list-card">
                    <a class="card-header" href="{{ .RelPermalink }}">
                        <h3 class="title">{{ .Title }}</h3>
                        <p class="date">{{ .Params.date_ru }}</p>
                        <i class="arrow-icon"></i>
                    </a>
                    {{ partial "meetup/recursive.html" . }}
                </div>
            {{ end }}
        </div>
    {{ else }}
        <div class="meetup-list">
            {{ range .RegularPages }}
                <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
            {{ end }}
        </div>
    {{ end }}
</div>
{{ end }}
