{{ define "main" }}
<div class="content-holder page-content">
    <div class="page-header">
        <h1>{{ .Title }}</h1>
        <p class="subtitle">{{ .Params.subtitle }}</p>
    </div>
    {{ if isset .Params "image" }}
        {{ $img_path := path.Join "images/logbook/meetup/" .Params.image }}
        {{ $img_alt := .Title }}
        {{ with resources.Get $img_path }}
            <img src="{{ .RelPermalink }}"
                 class="meetup-image"
                 width="640"
                 alt="{{ $img_alt }}">
        {{ end }}
    {{ end }}
    {{ range .Pages.ByWeight }}
        <div class="section-container" id="{{ .File.BaseFileName }}">
            <div class="author">
                {{ $author := index .Site.Data.authors (.Params.author) }}
                <div class="photo">
                    {{ if $author }}
                        {{ with resources.Get $author.photoUrl }}
                            <img alt="{{ $author.name }}"
                                 src="{{ .RelPermalink }}"
                                 class="photo"
                                 height="84"
                                 width="84">
                        {{ end }}
                    {{ end }}
                </div>
                <div class="info">
                    {{ if $author }}
                        <p class="name"><b>{{ $author.name }}</b></p>
                    {{ end }}
                    <h2 anchor-title>{{ .Title }}
                        {{ partial "common/anchor-icon.html"
                        (dict "anchor" .File.BaseFileName ) }}</h2>
                    <p class="subtitle">{{ .Params.subtitle }}</p>
                </div>
            </div>
            <div class="meetup-content">
                {{ .Content }}
            </div>
        </div>
    {{ end }}
    <div class="section-container">
        {{- $pages := (where .Site.Pages.ByWeight "Type" "logbook/meetup") }}
        {{ .Scratch.Set "pages" $pages }}
        {{ partial "common/next-prev-nav.html" . }}
    </div>
</div>
{{ end }}
