<header id="header">
    <div class="nav-toggle">
        <div id="menu-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="content-holder">
        <div class="nav-container">
            <div class="logo">
                <a href="{{ .Site.BaseURL }}">DDDi</a>
            </div>
            <div class="nav-items-holder">
                <div class="above-mobile-scroll"></div>
                <div class="nav-items">
                    <ul class="nav-list">
                        {{ $current := . }}
                        {{- $section := $current.Section -}}
                        {{ range .Site.Menus.main }}
                            {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
                            {{ $active = or $active (eq .Name $current.Title) }}
                            {{ $active = or $active (and (eq .Name ($section | humanize)) (eq $current.Section $section)) }}
                            <li class="nav-item">
                                <a href="{{ .URL }}" class="{{ if $active }}active{{ end }}"><span>{{ .Name }}</span></a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
