<header id="header">
    <div class="nav-toggle">
        <div id="menu-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="content-holder">
        <div class="nav-container">
            <div class="logo">
                <a href="{{ .Site.BaseURL }}">DDDi</a>
            </div>
            <div class="nav-items-holder">
                <div class="above-mobile-scroll"></div>
                <div class="nav-items">
                    <ul class="nav-list">
                        {{ $url := .URL }}
                        {{ range .Site.Menus.main }}
                            <li class="nav-item">
                                <a href="{{ .URL }}" class="{{ if eq $url .URL }}active{{ end }}">
                                    <span>{{ .Name }}</span>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
