<header id="header">
    <div class="nav-toggle">
        <div id="menu-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="content-holder">
        <div class="nav-container">
            <div class="logo">
                <a href="#">DDDi</a>
            </div>
            <div class="nav-items-holder">
                <div class="above-mobile-scroll"></div>
                <div class="nav-items">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span>Палуба</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span>Судовой журнал</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span>Путеводители</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span>Кают-компания</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
