$breakpoints: (
        sm-phone:     320px,
        md-phone:     480px,
        xmd-phone:    576px,
        lg-phone:     640px,
        tablet:       768px,
        md-tablet:    860px,
        lg-tablet:    960px,
        sm-desktop:   991px,
        desktop:     1024px,
        md-desktop:  1200px,
        lg-desktop:  1440px
);

/* Usage: `@include breakpoint(desktop)` */
@mixin breakpoint($deviceWidth) {
  @if map-has-key($breakpoints, $deviceWidth) {
    $value: map-get($breakpoints, $deviceWidth);

    @media screen and (max-width: $value) {
      @content;
    }
  }
}

@mixin breakpoint-min($deviceWidth) {
  @if map-has-key($breakpoints, $deviceWidth) {
    $value: map-get($breakpoints, $deviceWidth);

    @media screen and (min-width: $value + 1) {
      @content;
    }
  }
}
