a {
  color: $text-color;
  transition: color .2s ease-in-out;

  &:hover {
    color: $link-color;
  }
}

a.external-link {
  position: relative;

  $icon-size: 8px;
  $icon-margin: 3px;
  &:after {
    content: '\2192';
    display: inline-block;
    overflow: hidden;
    font-size: $font-size;
    font-weight: 300;
    width: $icon-size;
    height: $icon-size;
    text-indent: - $icon-size;
    text-align: right;
    line-height: 4px;
    opacity: .54;
    margin-left: $icon-margin;
    transform: rotate(-45deg);
    transition: opacity .16s ease-in;
    vertical-align: super;
    text-decoration: none;
  }

  &:hover {
    &:after {
      opacity: .7;
    }
  }
}

p {
  font-size: $font-size;
  line-height: 1.5;
}

strong {
  font-weight: 700;
}

h1 {
  font-size: $font-size-xxl;
  color: $main-brand-color;
  line-height: 1.2;
  font-weight: 700;
  padding-top: 16px;
  margin-bottom: 32px;
}

h2 {
  font-size: $font-size-lg;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: $font-size-md;
  font-weight: 700;
  padding-top: 40px;
  margin-bottom: 16px;
}

h4 {
  font-size: $font-size-neutral;
  font-weight: 700;
  padding-top: 16px;
  margin-bottom: 16px;
}
