/* Fonts */
$main-font: 'PT Sans', Helvetica, Arial, sans-serif;

$font-size-sm: 14px;
$font-size: 16px;
$font-size-neutral: 18px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xxl: 40px;

/* Layout */
$content-max-width: 1260px;
$content-padding-medium: 40px;
$content-padding-tablet: 32px;
$content-padding-phone: 20px;
$header-height: 64px;

/* Z-index
Usage: z-index: map_get($z-index, 'header'); */
$z-index: (
        'header'            : 1000,
        'nav-mobile'        : 1001,
        'hamburger-menu'    : 9999,
);

/* Border-radius */
$border-radius-s: 2px;

/* Transition */
$transition-primary: all .3s ease-in-out;

/* Icon sizes */
$icon-size-s: 24px;
